* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.contentor {
    display:grid;
    justify-content: center;
    gap: 10px;
}

.apresentacao {
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    padding: 40px;
}

.bloco-cartões {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 8px;
    justify-content: space-evenly;  
}

.cartão-livro {
    border: 1px solid red;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.js-título {
    font-weight: bold;
}

.adicionar-livro {
    text-align: center;
}

.js-botão-apagar {
    border: none;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.js-botão-apagar:hover {
    cursor: pointer;
    background-color: darkred;
}

.botao-adicionar {
    border: none;
    padding: 5px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}

.botao-adicionar:hover {
    cursor: pointer;
    background-color: blue;
}